body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  background-color: #93a3cb;
  overflow: hidden;
  height: 100vh;
}
#container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  height: 630px;
  max-width: 630px;
  font-size: 85px;
  color: white;
  gap: 10px;
  display: none;
}
.box {
  height: 200px;
  min-width: 200px;
  background-color: #656363;
}
#timer {
  height: 630px;
  width: 630px;
  display: flex;
  font-size: 55px;
  transform: scale(1.5);
  color: white;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    height: 320px;
    max-width: 320px;
    font-size: 15px;
    color: white;
    gap: 10px;
    display: none;
  }

  .box {
    height: 100px;
    min-width: 100px;
    background-color: #121212;
  }

  #timer {
    height: 320px;
    width: 320px;
    display: flex;
    font-size: 30px;
    transform: scale(1.5);
    color: white;
    justify-content: center;
    align-items: center;
  }
}
